
.root > div.recentlyPlayed > div.recentLists div.searchResult div.info div.title{
    width: 100%;
}
.root > div.recentlyPlayed > div.recentLists div.searchResult div.info div.aa div.artist {
    margin-right: 16px; 
}

.root > div.recentlyPlayed > div.recentLists div.searchResult div.info div.aa {
    width: 100%;
    font-size: 0.8rem;
    color: var(--ic);
    display: flex;
}

.root > div.recentlyPlayed > div.recentLists div.searchResult div.playButton {
    height: 100%;
}

.root > div.recentlyPlayed > div.recentLists div.searchResult div.info {
    line-height: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: smaller;
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

.root > div.recentlyPlayed > div.recentLists div.searchResult {
    width: 100%;
    height: 56px;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 8px;
}

.root > div.recentlyPlayed > div.recentLists div.searchResult div.coverPhoto img.actual {
    height: 100%;
    border-radius: 16px;
    width: 40px;
}
.root > div.recentlyPlayed > div.recentLists div.searchResult div img.reflection {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px;
    object-fit: cover;
    z-index: -1;
    transform: scale(1) translate(8px, 8px);
    filter: blur(12px) saturate(1.3) brightness(2) contrast(1.05);
    height: calc(100% - 16px);
}