:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}


body {
  display: flex;
  justify-content: center;
}

.playArrow {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container);
  border-radius: 50%;
}

.playArrow > span{
  /* font-size: small; */
  font-size: 1.5rem;
  color: var(--st);
  transition: color 0.2s ease-in-out;
}

.playArrow > span:hover {
  color: var(--pt);
}


.seeAll {
  font-size: 16px;
  font-weight: bold;
  color: var(--ic);
  transform: scale(1);
  background-color: transparent;
  border-radius: 99999px;
  padding: 0 8px;
  transition: all 0.2s ease-in-out;
}

.seeAll:hover {
  transform: scale(1.1);
  background-color: #72779733;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--coverIndex, 100);
  backdrop-filter: blur(10px) brightness(0.5);
}


/* @media (prefers-color-scheme: light) { */
  :root {
    --pt: #0E060F;
    --st: #9699a3;
    --lt: #FFFFFF;
    --bg: #ECECF4;
    --ic: #727797;
    --red: #e40e0e;
    --container: #FFFFFF;
    --coverIndex: 100;
    
    color: var(--pt);
    background-color: var(--bg);
  }
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --lt: #FFFFFF;
    --pt: #ECECF4;
    --st: #9699a3;
    --bg: #1d1c20;
    --ic: #727797;
    --container: #060511;
    
    color: var(--pt);
    background-color: var(--bg);
  }
} */