.expand {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg);
    z-index: 10000;
    box-sizing: border-box;
    /* margin:  0 -16px; */
    min-width: 346px;
    max-width: 440px;
}

.albumContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px 0 0 0;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 0 -10px; */
    width: calc(50% - 20px);
    min-width: 140px;
    height: 156px;

    /* margin: 0 auto; */
    position: relative;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    background-size: cover;
    border-radius: 16px;
    margin: 8px;
}

.albumControlWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    height: 40%;
    padding: 8px;
    align-items: center;
    backdrop-filter: blur(4px) brightness(0.8);
    /* border-radius: 16px; */
    height: 43px;
    margin: 8px 0;
    transition: all 0.3s ease-in-out;

}

.albumControlWrapper:hover {
    backdrop-filter: blur(6px) brightness(0.75);
}

/* .albumControlWrapper div.playArrow {
    width: 40px;
} */

.albumControlWrapper div.albumNameAndArtist {
    display: flex;
    width: calc(100% - 40px);
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: small;
    align-items: flex-start;
    justify-content: center;
    color: var(--lt);
    line-height: 16px;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.albumReflection {
    position: absolute;
    width: calc(100% - 0px);
    min-width: 140px;
    height: 156px;
    border-radius: 16px;
    object-fit: cover;
    z-index: -1;
    transform: translate(0px, 2px) scaleX(0.9);
    filter: blur(8px) saturate(1.3) brightness(2) contrast(1.05);
}